items-on-sale-v2/.classpath
items-on-sale-v2/.project
items-on-sale-v2/.settings/org.eclipse.core.resources.prefs
items-on-sale-v2/.settings/org.eclipse.jdt.apt.core.prefs
items-on-sale-v2/.settings/org.eclipse.jdt.core.prefs
